Checks: '-*,clang-analyzer-*,bugprone-*,modernize-*'
HeaderFilterRegex: '^(include/|src/)'
WarningsAsErrors: ''
CheckOptions:
  - key: modernize-use-trailing-return-type.MinTypeNameLength
    value: 10
